div.test
  div.title
    !{progress}
    img.button(src='images/play.png')
    img.arrow(src='images/down.png')
    span.name #{name}
    
    div.overview
      span !{$ok}
      | &nbsp; ok
      span !{$fail}
      | &nbsp; failed
  div.more
    div.frames
    div.asserts
