!!!
html
  head
    title testling v#{version}
    link(rel='stylesheet', href='/testling.css')
    script(type='text/javascript', src=mount+'/browserify.js')
  body
    div#menu [menu stuff]
    div#tests
