!!!
html
  head
    title testling v#{version}
    base(href=mount+'/')
    link(rel='stylesheet', href='testling.css')
    script(type='text/javascript', src='browserify.js')
  body
    div#menu [testling]
      div#browsers
        img(src='/images/browsers/explorer.png')
        img(src='/images/browsers/firefox.png')
        img(src='/images/browsers/chrome.png')
        img(src='/images/browsers/opera.png')
        img(src='/images/browsers/safari.png')
    div#tests
