!!!
html
  head
    title testling v#{version}
    base(href=mount+'/')
    link(rel='stylesheet', href='testling.css')
    script(type='text/javascript', src='browserify.js')
  body
    div#menu
      img#all.button(src='images/play.png', alt='play all', title='play all')
      div.logo [testling]
      div#browsers
        img.browser.explorer(src='images/browsers/explorer.png')
        img.browser.firefox(src='images/browsers/firefox.png')
        img.browser.chrome(src='images/browsers/chrome.png')
        img.browser.opera(src='images/browsers/opera.png')
        img.browser.safari(src='images/browsers/safari.png')
    div#tests
