!!!
html
  head
    title testling v#{version}
    base(href=mount+'/')
    link(rel='stylesheet', href='testling.css')
    script(type='text/javascript', src='browserify.js')
  body
    div#menu [testling]
    div#tests
