div.fail.assert
  div.overview
    img(src='images/fail.png')
    span #{err.message}
  - if (err.desc) {
    div.desc #{err.desc}
  - }
  div.lines
    - lines.forEach(function (line, i) {
      div.line
        div.line-num #{i}
        | #{line}
    - })
