div.fail.assert
  div
    img(src='images/fail.png')
    span #{err.message}
  div.desc #{err.desc}
  div.lines
    - lines.forEach(function (line, i) {
      div.line
        div.line-num #{i}
        | #{line}
    - })
