div.test.file
  div.title
    div.progress !{progress}
    img.button(src='images/play.png')
    img.arrow(src='images/down.png')
    span.name #{name}
    
    div.overview
      span.ok 0
      | &nbsp; ok
      span.fail 0
      | &nbsp; failed
  div.more
    div.asserts
    div.functions
