body {
    margin: 0px;
}

#menu {
    height: 45px;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(110,150,135);
    color: white;
}

#menu .logo {
    position: absolute;
    top: 15px;
    left: 50px;
}

#browsers {
    position: absolute;
    right: 0px;
    top: 0px;
}

.active {
    background-color: rgb(110,200,155);
}

#tests {
    padding: 15px;
}

.test .title {
    padding: 5px;
    margin-bottom: 4px;
    background-color: rgb(255,240,150);
}

.test .title:hover {
    cursor: pointer;
}

.test.ok .title {
    background-color: rgb(230,250,240);
}

.test.ok .title:hover {
    background-color: rgb(150,230,180);
}

.test.ok.all .title {
    background-color: rgb(180,250,240);
}

.test.ok.all .title:hover {
    background-color: rgb(130,255,245);
}

.test.fail .title {
    background-color: rgb(250,120,100);
}

.test.fail .title:hover {
    background-color: rgb(255,100,80);
}

.test .title .arrow {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.test .title .progress {
    float: right;
    margin-right: 5px;
    height: 40px;
    width: 200px;
}

.test .title .button {
    float: right;
    margin-right: 10px;
}

.test .title .button:hover {
    cursor: pointer;
}

.test .title .progress {
    display: inline;
}

.test .title .progress .finished {
    position: absolute;
    overflow-x: hidden;
    width: 0px;
    z-index: 1;
}

.test .title .progress .percent {
    position: absolute;
    width: 150px;
    font-weight: bold;
    z-index: 10;
    text-align: center;
    margin-top: 8px;
}

.test .title .progress div img {
    height: 100%;
}

.test .title .progress .remaining {
}

.test .more {
    display: none;
}

.test .frames {
    text-align: center;
}

.test .frames iframe {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 4px rgb(100,100,255) solid;
    width : 800px;
    height: 150px;
}

.test .frames iframe:hover {
    border-color: rgb(255,100,100);
}

.asserts {
    padding-left: 20px;
    margin-bottom: 25px;
}

.assert {
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.assert img {
    margin-right: 12px;
}

.assert .lines {
    display: none;
    height: 200px;
    white-space: pre;
    overflow-y: scroll;
    overflow-x: auto;
}

.lines .line.selected {
    background-color: rgb(250,120,100);
}

.assert.ok {
    background-color: rgb(220,255,240);
}

.assert.fail {
    background-color: rgb(255,200,180);
}
