body {
    margin: 0px;
}

#menu {
    height: 25px;
    padding: 10px;
    background-color: rgb(110,150,135);
    color: white;
}

#tests {
    padding: 15px;
}

.test .title {
    padding: 5px;
    margin-bottom: 4px;
}

.test .title:hover {
    cursor: pointer;
}

.test .ok {
    background-color: rgb(230,250,240);
}

.test .ok:hover {
    background-color: rgb(150,230,180);
}

.test .failed {
    background-color: rgb(250,120,100);
}

.test .failed:hover {
    background-color: rgb(255,100,80);
}

.test .title img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.test .frames {
    display: none;
}

.test .frames iframe {
    background-color: white;
}

.asserts {
    display: none;
    padding-left: 20px;
    margin-bottom: 25px;
}

.asserts .assert {
    margin-bottom: 5px;
    padding: 5px;
}

.asserts .ok {
    background-color: rgb(120,255,150);
}

.asserts .fail {
    background-color: rgb(255,80,60);
}
